
.coursesElement{
    min-height: 120vh;
    background-image: url('../../../public/canvas.png');
    
    /* filter: blur(8px); */
    background-color:  rgba(0, 0, 0, 0.1);
    /* Full height */
    height: 120%;
    background-attachment: fixed;
    /* Center and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px 500px;
    /* background-size: cover; */
}

.content{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 1px 1px #000000;;
}

.card{
    width: 18rem;
    margin: 2% auto;
    cursor: pointer;
}

img{
    height: 250px;
    width: 20px;
    padding: 2%;
}